<div class="pseudo-menu">
  <button routerLink="/gestion-client">Gestion Client</button>
  <button routerLink="/gestion-fds">Gestion FDS</button>
  <button routerLink="/gestion-produits">Gestion Produits</button>
</div>

<h1>Gestion Client</h1>
<table mat-table [dataSource]="clients" class="mat-elevation-z8">

    <ng-container matColumnDef="nomsociete">
        <th mat-header-cell *matHeaderCellDef> Nom société </th>
        <td mat-cell *matCellDef="let client"> {{ client.nomsociete }} </td>
    </ng-container>

    <ng-container matColumnDef="produits">
        <th mat-header-cell *matHeaderCellDef> Produits </th>
        <td mat-cell *matCellDef="let client">
            <div *ngFor="let produit of client.produits">
                {{ produit.nom }}
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>


<form (ngSubmit)="ajouterClient()">
  <h2>Formulaire ajout client</h2>
    <mat-form-field>
        <mat-label>Nom client</mat-label>
        <input matInput [(ngModel)]="nouveauClient.nomsociete" name="nomsociete" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Mail</mat-label>
        <input matInput type="email" [(ngModel)]="nouveauClient.mail" name="mail" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [(ngModel)]="nouveauClient.password" name="password" required>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">Ajouter la société</button>
</form>
