<div >
    <form (ngSubmit)="login()">
      <h2>Connexion</h2>
      <div >
        <label for="nomsociete">Nom de la société</label>
        <input type="text" id="nomsociete" [(ngModel)]="nomsociete" name="nomsociete" required>
      </div>
      <div >
        <label for="password">Mot de passe</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit">Se connecter</button>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
  