<table mat-table [dataSource]="fds" class="mat-elevation-z8">
  
       <ng-container matColumnDef="nomFiche">
        <th mat-header-cell *matHeaderCellDef> Nom de la Fiche </th>
        <td mat-cell *matCellDef="let element"> {{ element.ficheSecurite.name }} </td>
    </ng-container>

    <ng-container matColumnDef="dateCreationFiche">
        <th mat-header-cell *matHeaderCellDef> Date Création </th>
        <td mat-cell *matCellDef="let element"> {{ element.ficheSecurite.dateCreation }} </td>
    </ng-container>

    <ng-container matColumnDef="nomProduit">
        <th mat-header-cell *matHeaderCellDef> Nom du Produit </th>
        <td mat-cell *matCellDef="let element"> {{ element.produitNom || 'Pas de produit associé' }} </td>
    </ng-container>

    <ng-container matColumnDef="dateMajFiche">
        <th mat-header-cell *matHeaderCellDef> Date Mise à Jour </th>
        <td mat-cell *matCellDef="let element"> {{ element.ficheSecurite.dateMaj }} </td>
    </ng-container>

    <ng-container matColumnDef="telecharger">
        <th mat-header-cell *matHeaderCellDef> Télécharger </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="telechargerPdf(element.ficheSecurite.name,element.pdfContent)">Télécharger</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field>
                <mat-label>Statut</mat-label>
                <mat-select [(value)]="element.ficheSecurite.statut" [disabled]="element.ficheSecurite.statut === 'inactive'" 
                (selectionChange)="enregistrerStatutFiche(element.ficheSecurite)">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="inactive">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
<form (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nom du fichier</mat-label>
      <input matInput [(ngModel)]="nomFichier" name="nomFichier" required>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="produitDejaCree" name="produitDejaCree">Produit déjà créé</mat-checkbox>
  

    <mat-form-field *ngIf="produitDejaCree">
      <mat-label>Produit</mat-label>
      <mat-select [(ngModel)]="produitSelectionne" name="produitSelectionne" required>
        <mat-option *ngFor="let produit of produits" [value]="produit.id">
          {{ produit.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
  
    <input type="file" (change)="onFileSelected($event)" accept=".pdf" required>
  
    <button mat-raised-button color="primary" type="submit">Envoyer</button>
  </form>